h1 {
    text-align: center;
    color:orange;
}
table {
    border: 1px solid black;
    border-spacing: 0px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}
td, th {
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
}
th:nth-child(2) {
    color: red;
}
th:nth-child(4) {
    color: blue;
}
th {
    height: 30px;
}
tfoot td {
    height: 30px;
}
tfoot td:nth-child(3) {
    border-left:0px;
    border-right: 0px;
}
tfoot td:nth-child(2) {
    border-right:0px;
    color:red;
}
tfoot td:nth-child(4) {
    border-left:0px;
    border-right:0px;
    color:blue;
}
tfoot td:last-child {
    border-left:0px;
}